QuakeViewer/QuakeViewer.DAL/bin/Debug/*
QuakeViewer/QuakeViewer.DAL/obj/Debug/*
QuakeViewer/QuakeViewer/bin/Debug/*
QuakeViewer/QuakeViewer/obj/Debug/*
QuakeViewer/QuakeViewer/bin/Debug/*
QuakeViewer/QuakeViewer/obj/Debug/*
QuakeViewer/QuakeViewer.Service/bin/Debug/*
QuakeViewer/QuakeViewer.Service/obj/Debug/*
QuakeViewer/packages/*
