@model QuakeViewer.Models.ResultModel

<style>
.top-header{
	height:230px;
	}
</style>
<div class="row">
		<div class="col-sm-12"> <h2 class="text-center"> 房屋抗震能力评估结果 </h2></div>
	</div>
	
	<div class="row">
		<div class="divider-div"></div>
		<div class="col-md-offset-1 col-md-10">
		<p class="text-left" style="font-size: 20px;">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;尊敬的<strong><u>@Html.Raw(Model.UserName)</u></strong>先生/女士，您通过广东省地震局提供的“建筑房屋抗震能力即时简易评估系统”查询的房屋，其在设防地震作用下为<strong><u>@Html.Raw(Model.DisplayMinorLevel)</u></strong>。
		</p>
		</div>
	</div>
	
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-offset-1 col-md-10 " style="padding: 10px;font-size:16px;">
		<p>系统说明：</p>
		<div class="divider-div" style="margin-top: 5px;margin-bottom: 5px;"></div>
		<p>(1).本系统房屋抗震能力等级分为：完好；轻微破坏；中等破坏；严重破坏；倒塌（包括局部倒塌）。其中：</p>
		<ul>
			<li>完好是指震后结构承重构件和非承重构件都完好无损，地震后可立即使用。</li>
			<li>轻微破坏是指震后结构承重构件完好，个别非承重构件轻微损坏，附属构件有不同程度破坏，震后一般不需修理即可继续使用。</li>
			<li>中等破坏是指震后多数承重构件轻微裂缝，部分明显裂缝，个别非承重构件严重破坏，需修理和采取安全措施后可适当使用。</li>
			<li>严重破坏是指震后多数承重构件严重破坏，震后需大修才可使用。</li>
			<li>倒塌是指震后多数承重构件严重破坏以致局部倒塌，或结构整体倒塌，震后需拆除重建。</li>
			</ul>
			<p>(2).本系统查询的结果为简易评估结果，使用者提供的房屋信息有限，评估结果可能与房屋的真实抗震能力有差别。如需更加详细可靠的评估，可找专业的房屋抗震鉴定公司或研究机构进一步评估。</p>
			
		</div>
	</div>