
<style>
.top-header{
	height:230px;
	}
</style>
		<div class="row">
			<div class="col-sm-12"> <h2 class="text-center"> 所查数据统计 </h2></div>
		</div>

<div class="row">	
    <div class="col-sm-offset-2 col-sm-8">
        <div class="divider-header"></div>
        <div class="row">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="dateRange" class="col-sm-2 control-label">开始日期</label>
                    <div class="col-sm-10" >
						
                        <input type="text" class="form-control" id="dateRangeStart" placeholder="选择开始日期" data-date-format="yyyymmdd" date-language='zh-CN' >

                    </div>
                </div>
                <div class="form-group">
                    <label for="dateRange" class="col-sm-2 control-label">结束日期</label>
                    <div class="col-sm-10" >
                        <input type="text" class="form-control" id="dateRangeEnd" placeholder="选择结束时间" data-date-format="yyyymmdd"   date-language='zh-CN'>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button id="querybutton" type="button" class="btn btn-default" onclick="queryData();">统计查询</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table id="displayRow" width="100%" style="margin-top: 27px" class="table table-bordered">
            <thead>
            <th>时间</th>
            <th>用户名</th>
            <th>区域</th>
            <th>楼层</th>
            <th>房屋结构</th>
            <th>是否专业设计</th>
            <th>施工质量</th>
            <th>建造年代</th>
            <th>输出结果</th>
              <th>来源</th>
            </thead>
        </table>
    </div>
</div>
<script>
	$('#dateRangeStart').datetimepicker({
	weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0});
	$('#dateRangeEnd').datetimepicker({weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0});


	function queryData(){
		var startTime = $('#dateRangeStart').val();
		var endTime = $('#dateRangeEnd').val();

		$.ajax({
		    url: '/quake/queryData?&startTime=' + startTime + '&endTime=' + endTime ,
	        type: 'GET',
	        success: function (data) {
				console.log(data);
	            for (var i = 0; i < data.length; i++)
	                $('#displayRow').append("<tr><td>" + data[i].DisplayCreateDate + "</td><td>" + data[i].DisplayUserName + "</td><td>" + data[i].FirstChoice + "</td><td>" + data[i].DisplaySecondChoice + "</td><td>" + data[i].DisplayThirdChoice + "</td><td>" + data[i].DisplayForthChoice + "</td><td>" + data[i].DisplayFifthChoice + "</td><td>" + data[i].DisplaySixth + "</td><td>" + data[i].DisplayMinorResult + "</td><td>" + data[i].DisplayFromType + "</td></tr>");

	        }
	    });
	}
	</script>