@model QuakeViewer.Models.LoginModel
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>建筑房屋抗震能力即时简易评估查询系统</title>
		<link rel="stylesheet" href="Content/bootstrap.min.css" />
	</head>
	<style type="text/css">  
            body{
            		background:url(img/login_bg.jpg) center no-repeat fixed;
            		font-size: 16px;
            }  
            .form{background: rgba(255,255,255,0.2);width:400px;margin:100px auto;}  
            #login_view{display: block;}  
            #regist_view{display: none;}  
            .fa{display: inline-block;top: 27px;left: 6px;position: relative;color: #ccc;}  
            input[type="text"],input[type="password"]{padding-left:26px;}  
            .checkbox{padding-left:21px;}  
        </style>
 <body>  
    <div class="container">  
        <div class="form row" id="login_view"> 
		@using(Html.BeginForm("Login","Home",new{},FormMethod.Post, new { @class="form-horizontal col-sm-offset-3 col-md-offset-3",id="login_form" })) 
		{
    		@Html.AntiForgeryToken()
           
                <h3 class="form-title">登陆信息</h3>  
                <div class="col-sm-9 col-md-9">  
                    <div class="form-group">  
                        <i class="fa glyphicon glyphicon-use"></i>  
							@Html.TextBoxFor(p=>p.UserName,new{@class="form-control required",placeholder="输入用户名",autofocus="autofocus",maxlength="20"})
                        
                    </div>  
                    <div class="form-group">  
                            <i class="fa fa-lock fa-lg"></i>  
							@Html.PasswordFor(p=>p.Password,new{@class="form-control required",placeholder="输入密码",autofocus="autofocus",maxlength="8"})
                    </div>  
                    <div class="form-group">   
                        <hr />  
                        <a href="javascript:;" id="register_btn" class="">注册</a>  
                    </div>  
                    <div class="form-group">  
                        <input type="button" id="login_btn" class="btn btn-success pull-right" value="登陆"/>     
                    </div>  
                </div>  
            } 
        </div>  
  
        <div class="form row" id="regist_view">  
            <form class="form-horizontal col-sm-offset-3 col-md-offset-3" id="register_form">  
                <h3 class="form-title">用户注册</h3>  
                <div class="col-sm-9 col-md-9">  
                    <div class="form-group">  
                        <i class="fa fa-user fa-lg"></i>  
                        <input class="form-control required" type="text" placeholder="输入用户名" id="regist_username" name="username" autofocus="autofocus"/>  
                    </div>  
                    <div class="form-group">  
                            <i class="fa fa-check fa-lg"></i>  
                            <input class="form-control required" type="password" placeholder="请输入您的手机号码" id="regist_mobile" name="mobile"/>  
                    </div> 
                    <div class="form-group">  
                            <i class="fa fa-lock fa-lg"></i>  
                            <input class="form-control required" type="password" placeholder="输入密码" id="register_password" name="password"/>  
                    </div>  
                    <div class="form-group">  
                            <i class="fa fa-check fa-lg"></i>  
                            <input class="form-control required" type="password" placeholder="再次输入密码" id="rpassword" name="rpassword"/>  
                    </div>   

                    <div class="form-group">  
                        <input type="button" id="regist" class="btn btn-success pull-right" value="注 册"/>  
                         <a href="javascript:;" id="back_btn" class="pull-left">返回</a>   
                    </div>  
                </div>  
            </form>  
        </div>  
        </div>  
   <script src="Scripts/jquery-1.12.4.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="Scripts/bootstrap.min.js" ></script>
	<script>
		$(function() {  
    			$("#register_btn").click(function() {  
        			$("#regist_view").css("display", "block");  
        			$("#login_view").css("display", "none");  
    		});  
    		$("#back_btn").click(function() {  
        		$("#regist_view").css("display", "none");  
        		$("#login_view").css("display", "block");  
    		}); 
    		
    		$('#login_btn').click(function(){
    			
    			if(window.sessionStorage){}
    			else{
    				alert("测试阶段只支持临时登陆，建议您更换比较新的浏览器");
    				return;
    			}
    			
    			if($('#login_username').val() == "" || $('#login_username').val() == undefined){
    				alert("用户名不能为空");
    				return;
    			}
    			if($('#login_password').val() == "" || $('#login_password').val() == undefined){
    				alert("密码不能为空");
    				return;
    			}
    			
    		 var password =	window.sessionStorage.getItem($('#login_username').val());
    		 console.log(password);
    		 
    		 if(password == $('#login_password').val()){
    		 		window.location.href="Questionnaire.html?username="+encodeURIComponent($('#login_username').val());
    		 	}
    		 else{
    		 	alert("用户名或密码错误");
    		 }
    		});
    		
    		$('#regist').click(function(){
    			if(window.sessionStorage){}
    			else{
    				alert("测试阶段只支持临时登陆，建议您更换比较新的浏览器");
    				return;
    			}
    			
    			if($('#regist_username').val() == "" || $('#regist_username').val() == undefined){
    				alert("用户名不能为空");
    				return;
    			}
    			if($('#register_password').val() == "" || $('#register_password').val() == undefined){
    				alert("密码不能为空");
    				return;
    			}
    			if($('#regist_mobile').val() == "" || $('#regist_mobile').val() == undefined){
    				alert("手机号码不能为空");
    				return;
    			}
    			if($('#register_password').val() != $('#rpassword').val()){
    				alert("两次输入密码不一致");
    				return;
    			}
    			window.sessionStorage.setItem($('#regist_username').val(),$('#register_password').val());
    			alert('用户注册成功');
    			
    			$("#regist_view").css("display", "none");  
        		$("#login_view").css("display", "block");  
    		});
    		
	});
	
	$('#getValidateCode').click(function(){
		alert("测试阶段暂时不支持验证码")
	});

	</script>
    </body>  
	
</html>